<div class="jumbotron text-center">
  <h1>Student Rejistration App</h1>
  <p class="lead">Welcome to our Student Rejistration App </p>
 
  <div class="row">
      <div class="col-md-6">
      <ul class="list-group">
        <h2>University Database</h2>
        <li class="list-group-item" *ngFor="let user1 of users1">{{ user1.name }}</li>
      </ul>
      </div>
      <div class="col-md-6">
      <ul class="list-group">
          <h2>Collage Database</h2>
        <li class="list-group-item" *ngFor="let user2 of users2">{{ user2.name }}</li>
      </ul>
      </div>
  </div>

<div>
  <h2 class="page-header">Register A New Student</h2>
  <form (submit)="onRegisterSubmit()" >
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name">
    </div>
    <input type="submit" class="btn btn-primary" value="Rejister">
  </form>
  </div>


</div>


